{% extends 'doctor_base.html' %}
{% block title %} Doctor Dashboard {% endblock %}
{% block content %}

<div class="boxes">
    <div class="box">
        <div class="icon">
            {% load static %}
            <img src="{% static 'calc/patient.png' %}" alt="">
        </div>
    
        <div class="count">
        <h4>Number of Patients</h4>
        <h2> {{ num_of_patients }} </h2>
        </div>
    </div>
    
    <div class="box">
        <div class="icon">
            {% load static %}
            <img src="{% static 'calc/patient1.png' %}" alt="">
        </div>
    
        <div class="count">
        <h4>Number of Patients for today</h4>
        <h2> {{ num_of_patients_today }} </h2>
        </div>   
    </div>

    <div class="box">
        <div class="icon">
            {% load static %}
            <img src="{% static 'calc/schedule.png' %}" alt="">
        </div>
    
        <div class="count">
        <h4>Number of Appointments</h4>
        <h2> {{ appointment }} </h2>
        </div>   
    </div>
</div>

<div class="center-column">
    <form method="POST" action="">
        {% csrf_token %}
        {{form.title}}
        <input class="btn btn-info" type="submit" name="Create Task" value="Create Task">
    </form>

    <div class="todo-list">
            {% for tasks in tasks %}
                <div class="item-row">
                    <a class="btn btn-sm  btn-info" href="{% url 'update-task' tasks.id %}">Update</a>
                    <a class="btn btn-sm btn-danger" href="{% url 'delete-task' tasks.id %}">Delete</a>

                    {% if tasks.complete == True %}
                    <strike>{{tasks}}</strike>
                    {% else %}
                    <span>{{tasks}}</span>
                    {% endif %}
                </div>

            {% endfor %}
    </div>
</div>
<div id="myChart">

</div>


<script>
    var chardata={
      'type': 'bar',
      'scale-x':{
        'values':[
          'Completed',
          'Not Completed',
          'Postponed',
          'Canceled'
         ]
       },
      'series':[
         {
           'values':[
             {{completed}},
             {{notcompleted}},
             {{postponed}},
             {{canceled}},
           ]
         }
       ]
    }
    zingchart.render({
      id: 'myChart',
      data:chardata
    
    });
  </script>
{% endblock %}