{% extends 'index.html' %}
{% block content %}
<div class="form-container">
    <div class="form-content">
        <div class="form-image">
            {% load static %}
            <img src="{% static 'calc/login-banner.png' %}" width="30%" height="30%"> 
        </div>
        <form action="" method="POST">
            {% csrf_token %}
            <h3>Login</h3>
            <div class="form-input">
            <input type="text" name="username" placeholder="username"><br>
            <input type="password" name="password" placeholder="password"><br>
            </div>
            <p><a href="#">Forgot password?</a></p>
            <button class="btn btn-primary">Login</button>
            {% for message in messages %}
            <p style="color: red;font-weight: bold;margin-top: 10px;">{{message}}</p>
            {% endfor %}
            <p>Don't have an account? <a href="{% url 'register' %}"> Register</a></p>
            </form>
    </div>
</div>
{% endblock %}


