<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title{{title}}></title>
    <style>
        div {
          text-align: center;
        }
        img{
            width:100px;
            height:100px;
        }
      </style>
</head>
<body>
    <div>
            <img src="https://cdn-icons.flaticon.com/png/512/5300/premium/5300408.png?token=exp=1648494118~hmac=f8368bf599926aa86e4cd4ebdf2d4183">
   </div>
    <h4> New Message from : <P style="color: rgb(59, 77, 243); display: inline;">{{ Name }}</P></h4>
    <p><h4>His message :</h4>{{ comment }} </p>
    <p><h4>Has following symptoms :</h4> {{ symptom }} </p>

</body>
</html>