<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title{{title}}</title>
    <style>
        div {
          text-align: center;
        }
        img{
            width:100px;
            height:100px;
        }
      </style>
</head>
<body>
    <div>
         <img src="https://cdn-icons-png.flaticon.com/512/5229/5229354.png">
    </div>
   
    <h4>Dear <P style="color: blue; display: inline;">{{first_name}}</P>,</h4>
    <p style="background-color: aquamarine;">The main goal of The TrustyMed is to provide the best possible medical care.</p>
    <p>Emergency departments are designed to provide treatment of emergent medical conditions. 
       Emergency departments are not designed to provide sporadic care for chronic illnesses. 
       Every patient that comes to Providence St. Peter Hospitals Emergency Center will be fully evaluated and treated – as they always have been.</p> 
       <p>Sincerely,Joe Pellicer, <br> MD Emergency Center Medical Director</p>
</body>
</html>