{%extends 'base.html' %}

{%block title%} Welcome to our Blog {%endblock%}

{%block content%}


<div class="container-custom">


    <!-- Set up your HTML -->
    <div class="owl-carousel">


        {% for cat in cats %}

        <div class="card item" style="margin-left:10px;">

            <div class="img-container">

                <img src="/images/{{cat.image}}" class="responsive-img" alt="">

            </div>
            <div class="card-content">

                <div class="card-title">
                    {{cat.title}}
                </div>

                <p class="truncate">{{cat.description}}</p>
                <div class="container center-align mt20">
                    <a href="/category/{{cat.url}}" class="btn bg-primary">VIEW</a>
                </div>

            </div>


        </div>

        {%endfor%}

    </div>
</div>


<div class="container">

    <div class="row">

        <div class="col s12 ">

            {%for p in posts %}

            <div class="row">

                <div style="margin-top: 50px;" class="col s12 m8">


                    {{p.content |truncatewords:60 | safe}}
                    <div class="mt20">
                        <a href="/blog/{{p.pk}}" class="btn bg-primary ">Read More..</a>
                    </div>
                </div>

                <div class="col s12 m4">
                    <img src="/images/{{p.image}}" class="responsive-img" style="margin-top:100px;">

                </div>

            </div>


            {%endfor %}


        </div>


    </div>

</div>


{%endblock%}