   <footer class="page-footer bg-primary" style="margin-top: 50px">
          <div class="container" style="padding-bottom: 30px;">
            <div class="row">
              <div class="col s3">
                <h5 class="white-text">Quick Links</h5>
                <ul style="font-size: 15px;">
                  <li><a class="grey-text text-lighten-3" href="#!">Home</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Services</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">About</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Doctors</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Review</a></li>
                </ul>
              </div>
              <div class="col s3">
                <h5 class="white-text">Our Services</h5>
                <ul style="font-size: 15px;">
                  <li><a class="grey-text text-lighten-3" href="#!">Dental Care</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Message Therapy</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Cardiology</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Stomatology</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Diagnosis</a></li>
                </ul>
              </div>
              <div class="col s3">
                <h5 class="white-text">Contact Info</h5>
                <ul style="font-size: 15px;">
                  <li><a class="grey-text text-lighten-3" href="#!">+123-456-7890</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">+111-222-3333</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">nazerkem@gmail.com</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">hitmeup@gmail.com</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Almaty, Kaskelen</a></li>
                </ul>
              </div>
              <div class="col s3">
                <h5 class="white-text">Follow Us</h5>
                <ul style="font-size: 15px;">
                  <li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Twitter</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Instagram</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">LinkedIn</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Pinterest</a></li>
                </ul>
              </div>
            </div>
          </div>
        </footer>