{% extends 'base/doctor_base.html' %}
{% block title %}All Appointments {% endblock %}
{% block content %}
<h1>
    Today's appointments:
    {{appointments_today}}
</h1>
<form action="" method="POST">
  {% csrf_token %}
  <button class="btn btn-primary" name="today" value="today">Today</button>
  <button class="btn btn-primary" name="all" value="all">All</button>
  <button class="btn btn-primary" name="upcom" value="upcom">Upcoming</button>
</form>

<h1 style="text-align: center; padding-top: 1em; padding-bottom: 1em;">All Appointments</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>Doctor</th>
            <th>Email</th>
            <th>Date</th>
            <th>Time</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
     
        {% for i in appointments %}
            <tr>
                <th scope="row">{{ i.first_name }}</th>
                <td>{{ i.last_name }}</td>
                <td>{{ i.age }}</td>
                <td>{{ i.doctor }}</td>
                <td>{{ i.email }}</td>
                <td>{{ i.app_date }}</td>
                <td>{{ i.time }}</td>
                {% if i.status == 'Completed' %}
                <td><small class="badge badge-success">Completed</small></td>
                {%elif i.status == 'Not Completed' %}
                <td><small class="badge badge-danger">Not Completed</small></td>
                {%elif i.status == 'Postponed' %}
                <td><small class="badge badge-warning">Postponed</small></td>
                {% else %}
                <td><small class="badge badge-secondary">Canceled</small></td>
                {% endif %}

                <td>
                    <div class="container">
                        <div class="btn-group">
                        <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle" data-toggle="dropdown">Actions</button>
                          <div class="dropdown-menu">
                            <a class="dropdown-item"  href="{% url 'completed' i.id %}" name="completed">Completed</a>  
                            <a class="dropdown-item" href="{% url 'notcompleted' i.id %}" name="notcompleted" >Not Completed</a>
                            <a class="dropdown-item" href="{% url 'appointment-edit' i.id %}" name="postpone" >Postpone</a>
                            <a class="dropdown-item" href="{% url 'cancel' i.id %}" name="cancel" >Cancel</a>
                          </div>
                        </div>
                      </div>
                </td>
            </tr>
            {% endfor %}
    </tbody>
</table>
{% endblock %} 