{% extends 'base/doctor_base.html' %}
{% block title %} List of the patients {% endblock %}

{% block content %}

<div class="boxes">
    <div class="box">
        <div class="icon">
            {% load static %}
            <img src="{% static 'hospital/patient.png' %}" alt="">
        </div>
    
        <div class="count">
        <h4>Number of Patients</h4>
        <h2> {{ num_of_patients }} </h2>
        </div>
    </div>
    
    <div class="box">
        <div class="icon">
            {% load static %}
            <img src="{% static 'hospital/patient1.png' %}" alt="">
        </div>
    
        <div class="count">
        <h4>Number of Patients for today</h4>
        <h2> {{ num_of_patients_today }} </h2>
        </div>   
    </div>

    <div class="box">
        <div class="icon">
            {% load static %}
            <img src="{% static 'hospital/schedule.png' %}" alt="">
        </div>
    
        <div class="count">
        <h4>Number of Appointments</h4>
        <h2> {{ appointment }} </h2>
        </div>   
    </div>
</div>

<h1 style="text-align: center; padding-top: 1em; padding-bottom: 1em;">Patient Information</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">Joined date</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for i in patients %}
                <tr>
                    <td>{{ i.first_name }}</td>
                    <td>{{ i.last_name }}</td>
                    <td>{{ i.email }}</td>
                    <td>{{ i.mobile }}</td>
                    <td>{{ i.mod_date }}</td>
                    <td>
                        <a style="margin-right: 30px;" href="{% url 'edit-patient' i.id %}" class="btn btn-success" ><i class="fa-solid fa-pen-to-square"></i> Edit</a>
                        <a style="margin-right: 30px;" href="{% url 'delete-patient' i.id %}" class="btn btn-danger"><i class="fa-solid fa-trash-can"></i> Remove</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="group-buttons" style="text-align: center;">
        <button class="btn btn-primary"><a href="{% url 'export-csv' %}" style="color: white; text-decoration: none;"><i class="fa-solid fa-file-csv"></i> Export CSV</a></button>
        <button class="btn btn-primary"><a href="{% url 'export-excel' %}" style="color: white; text-decoration: none;"><i class="fa-solid fa-file-excel"></i> Export Excel</a></button>
    </div>
  
{% endblock %}
